BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: None
BreakAfterJavaFieldAnnotations: true
BreakBeforeBraces: Attach
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: BeforeComma
AlignAfterOpenBracket: Align
PenaltyBreakBeforeFirstCallParameter: 1
ColumnLimit: 80
SpaceBeforeParens: ControlStatements
InsertNewlineAtEOF: true
