*.class
/build/
/target/
.gradle/
.idea/
# Package Files #
*.war
*.ear

node_modules/
*.iml
*.iws
*.ipr
.env
out/
logs/
classes/
run/


.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions