name: Build Project

on:
  push:
    branches:
      - 'dev/*'
    tags:
      - '*'
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload to Discord (If dev branch)
        if: startsWith(github.ref, 'refs/heads/dev/')
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: ./gradlew discordupload
      - name: Publish to Curseforge (If release branch)
        if: startsWith(github.ref, 'refs/heads/release/')
        env:
          CURSE_API: ${{ secrets.CURSE_API }}
        run: ./gradlew curseforge
