name: Build Project

on:
  push:
    branches:
      - '**'
    tags:
      - '*'
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload to Discord (If dev branch)
        if: startsWith(github.ref, 'refs/heads/dev/')
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: ./gradlew discordupload
      - name: Publish to Curseforge (If tagged)
        if: startsWith(github.ref, 'refs/tags/')
        env:
          CURSE_API: ${{ secrets.CURSE_API }}
        run: ./gradlew curseforge
