on:
  push:
    branches-ignore:
    - main
  workflow_dispatch:
name: Build
jobs:
  snapshot:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - project: spigot
          java-version: 8
        - project: legacyspigot
          java-version: 8
    steps:
    - uses: actions/checkout@v3
    - name: Cache Gradle packages
      uses: actions/cache@v3
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: ${{ runner.os }}-gradle
    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: ${{ matrix.java-version }}
    - name: Build and upload preview (run for non-release builds)
      if: ${{ github.ref && !contains( github.ref, 'renovate/deps') }}
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        TARGET_MODULE: ${{ matrix.project }}
      run: |
        # Build
        ./gradlew ${{ matrix.project }}:discordupload
